body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
}

a {
  text-decoration: none;
  font-style: normal;
}

.contact-list-item {
  list-style: none;
}

.header {
  padding-bottom: 24px;
  padding-top: 20px;
  background-color: #ffffff;
  opacity: 1;
  border: solid 1px #2e2f42;
}

.header-nav {
  display: flex;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
}

.header-content {
  padding-left: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-list {
  list-style: none;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 40px;
}

.nav-list-item {
}

.studio-link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
}

.nav-link {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

.contact-link {
  color: #434455;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
  text-decoration: none;
}

.header-contacts {
  font-style: normal;
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  letter-spacing: 0.03em;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 0px;
  margin-right: 76px;
}

.logo-accent {
  color: #2e2f42;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.hero-section {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero-title {
  font-weight: 700;
  font-style: bold;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  background-color: #4d5ae5;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  display: block;
  margin: 0 auto;

  padding: 16px 32px; /* было 48px — слишком много */
  width: 169px;
  border-radius: 6px;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

.benefits-section {
  margin-top: 120px;
  margin-bottom: 120px;

  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
}

.benefits-section-title {
  text-transform: capitalize;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;

  display: none;
}

.benefits-list {
  list-style: none;
  display: flex;
  gap: 24px;
}

.benefits-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;

  margin-bottom: 8px;
}

.benefits-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.team-section {
  background-color: #f4f4fd;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 8px;
  padding: 120px 0;
}

.team-item {
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-title {
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.team-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 8px;
  padding: 32px 16px;
}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.team-position {
  font-size: 16px;
  line-height: 1.5;
  color: #434455;
  letter-spacing: 0.02em;
}

.team-list {
  list-style: none;
  display: flex;
  align-items: cente;
  gap: 24px;
}

.portfolio {
  padding: 120px 0;
}

.portfolio-title {
  text-transform: capitalize;
  color: #2e2f42;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.portfolio-list {
  list-style: none;
  display: flex;
  gap: 48px 24px;
  flex-wrap: wrap;
}

.portfolio-list-title {
}

.portfolio-wrapper {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  text-transform: uppercase;
  text-decoration: none;
  color: #4d5ae5;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  display: block;
}

.logo-accent-footer {
  color: #f4f4fd;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

#studio-link:focus,
#studio-link:hover {
  color: #404bbf;
}

.contact-link:hover,
.contact-link:focus {
  color: #404bbf;
}
